@charset "utf-8";
/* CSS Document */

/*首页*/
.J_feature_botmani em{
	width:399px;
	margin:0 1px 1px 0;
	overflow:hidden;
	float:left;
}
.J_feature_botmani em a{
	position:relative;
	float:left;
}
.J_feature_botmani em img{
	padding:0;
	overflow:hidden;
	float:left;
}
.J_feature_botmani i{
	width:485px;
	overflow:hidden;
	float:left;
}
.J_feature_botmani i a{
	position:relative;
	float:left;
}
.J_feature_botmani i img{
	padding:0;
	overflow:hidden;
	float:left;
}
.J_feature_botmani b{
	width:386px;
	height:66px;
	padding:0 0 0 13px;
	background:url(../images/index_03_titlebg.png) no-repeat;
	display:none;
	position:absolute;
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	color:#FFF;
	line-height:66px;
	left:0;
	bottom:0;
}
.mi4-content-feature-d .feature-img a{
	width:272px;
	height:319px;
	margin:0 25px 0 0;
	display:inline;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-e .feature-img-a a, .mi4-content-feature-e .feature-img-b a{
	width:141px;
	height:38px;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-e .feature-img-a a.view_qq{
	margin:210px 50px 0 49px;
	display:inline;
	background:url(../images/index_05_pic.png) no-repeat;
	background-position:0 0;
}
.mi4-content-feature-e .feature-img-a a.view_qq:hover{
	background-position:0 -38px;
}
.mi4-content-feature-e .feature-img-a a.view_map{
	margin:210px 0 0 0;
	display:inline;
	background:url(../images/index_05_pic.png) no-repeat;
	background-position:-141px 0;
}
.mi4-content-feature-e .feature-img-a a.view_map:hover{
	background-position:-141px -38px;
}
.mi4-content-feature-e .feature-img-b a.view_qq{
	margin:210px 50px 0 40px;
	display:inline;
	background:url(../images/index_05_pic.png) no-repeat;
	background-position:0 0;
}
.mi4-content-feature-e .feature-img-b a.view_qq:hover{
	background-position:0 -38px;
}
.mi4-content-feature-e .feature-img-b a.view_map{
	margin:210px 0 0 0;
	display:inline;
	background:url(../images/index_05_pic.png) no-repeat;
	background-position:-141px 0;
}
.mi4-content-feature-e .feature-img-b a.view_map:hover{
	background-position:-141px -38px;
}
.mi4-content-feature-e .footer_a{
	width:1200px;
	height:154px;
	overflow:hidden;
	z-index:2;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-570px;
	margin-top:272px;
}
.mi4-content-feature-e .footer_a dl{
	width:300px;
	height:154px;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-e .footer_a dl dd{
	width:300px;
	height:24px;
	font-family:Lao UI;
	color:#FFF;
	line-height:24px;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-e .footer_a dl dd a{
	color:#FFF;
}
.mi4-content-feature-e .footer_a dl dd a:hover{
	color:#64afc6;
}
.mi4-content-feature-e .footer_a dl dt{
	width:300px;
	height:24px;
	font-family:Lao UI;
	color:#999999;
	line-height:24px;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-e .footer_b{
	width:1200px;
	height:37px;
	overflow:hidden;
	z-index:2;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-570px;
	margin-top:438px;
	line-height:36px;
	text-align:center;
	font-family:微软雅黑;
	font-size:12px;
	color:#FFF;
}
.return_top{
	background:url(../images/nav-btns.png) no-repeat -36px -36px !important;
	width:36px;height:36px;
	margin-top:1px;cursor:pointer;
	position:absolute;
}
.return_top:hover{
	background:url(../images/nav-btns.png) no-repeat -36px 0 !important;
}
.mi4-content-feature-a dl{
	width:100%;
	height:100px;
	background:url(../images/mainbav.jpg) no-repeat;
	z-index:1;
	position:absolute;
	left:50%;
	margin-left:-50%;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-a dl dd a{
	width:192px;
	height:100px;
	margin:0 121px 0 48px;
	display:inline;
	overflow:hidden;
	float:left;
}
.nav .container{
	padding:1px 0 0 0;}
.ahz-head-nav{
	width:1200px;
	height:99px;
	overflow:hidden;
	float:left;
}
.ahz-head-nav i{
	width:198px;
	margin:0 0 0 1px;
	display:inline;
	font-size:18px;
	line-height:99px;
	font-style:normal;
	text-align:center;
	overflow:hidden;
	float:left;
}
.ahz-head-nav i a{
	width:198px;
	height:99px;
	font-family:微软雅黑;
	color:#FFF;
	overflow:hidden;
	float:left;
}
.ahz-head-leftCon a{
	width:190px;
	height:82px;
	background:url(../images/logo.png) no-repeat;
	overflow:hidden;
	float:left;
}
.ahz-head-rightCon a{
	margin:0 0 0 25px;
}
@media (max-width:1260px){
	.mi4-content-feature .mi4-content-feature-a.turnBlack{ background-image:url('../images/index_01.jpg');}
}
@media (max-width:1705px){
	.nav .bar{height:49px;background-image:url(../images/mainbav_1x.png)}
	.nav .bar.showbar{bottom:-50px}
	.ahz-head .ahz-head-leftCon{ width:151px; height:41px;float:left;padding:0px; margin:5px 0 0 25px;}
	.ahz-head-leftCon a{width:95px;height:41px;background:url(../images/logo_1x.png) no-repeat;}
	.ahz-head-nav{width:726px;height:49px;}
	.ahz-head-nav i{width:120px;height:49px;font-size:12px;line-height:49px;}
	.ahz-head-nav i a{width:120px;height:49px;}
	.ahz-head .ahz-head-rightCon{height:19px;margin:13px 34px 0 0;}
	.ahz-head-rightCon a{margin:0 0 0 15px;}	
	
}

@-webkit-keyframes right-to-left1{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-moz-keyframes right-to-left1{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-ms-keyframes right-to-left1{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-o-keyframes right-to-left1{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@keyframes right-to-left1{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}.right-to-left1{-webkit-animation:right-to-left1 .5s cubic-bezier(.86, 0, .07, 1) 1;animation:right-to-left1 .5s cubic-bezier(.86, 0, .07, 1) 1}

@-webkit-keyframes right-to-left2{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-moz-keyframes right-to-left2{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-ms-keyframes right-to-left2{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-o-keyframes right-to-left2{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@keyframes right-to-left2{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}.right-to-left2{-webkit-animation:right-to-left2 1.5s cubic-bezier(.86, 0, .07, 1) 1;animation:right-to-left2 1.5s cubic-bezier(.86, 0, .07, 1) 1}

@-webkit-keyframes right-to-left3{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-moz-keyframes right-to-left3{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-ms-keyframes right-to-left3{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-o-keyframes right-to-left3{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@keyframes right-to-left3{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}.right-to-left3{-webkit-animation:right-to-left3 2.5s cubic-bezier(.86, 0, .07, 1) 1;animation:right-to-left3 2.5s cubic-bezier(.86, 0, .07, 1) 1}

@-webkit-keyframes right-to-left4{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-moz-keyframes right-to-left4{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-ms-keyframes right-to-left4{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@-o-keyframes right-to-left4{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}@keyframes right-to-left4{0%{opacity:0;-webkit-transform:translate3d(200px, 0, 0);-moz-transform:translate3d(200px, 0, 0);-o-transform:translate3d(200px, 0, 0);transform:translate3d(200px, 0, 0)}100%{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}}.right-to-left4{-webkit-animation:right-to-left4 3.5s cubic-bezier(.86, 0, .07, 1) 1;animation:right-to-left4 3.5s cubic-bezier(.86, 0, .07, 1) 1}

/*.mi4-content-feature-a dl{z-index:1;position:absolute;left:50%;width:100%;height:100px;margin-left:-50%;background-repeat:no-repeat;background-position:center center;background-image:url('../images/mainbav.jpg');background-image:-webkit-image-set(url('../images/mainbav_1x.jpg') 1x, url('../images/mainbav.jpg') 2x)}*/
