@charset "utf-8";
/* CSS Document */

/*首页*/
.J_feature_botmani em{
	width:338px;
	overflow:hidden;
	float:left;
}
.J_feature_botmani em a{
	position:relative;
	float:left;
}
.J_feature_botmani em img{
	padding:0;
	overflow:hidden;
	float:left;
}
.J_feature_botmani i{
	width:485px;
	overflow:hidden;
	float:left;
}
.J_feature_botmani i a{
	position:relative;
	float:left;
}
.J_feature_botmani i img{
	padding:0;
	overflow:hidden;
	float:left;
}
.J_feature_botmani b{
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	top:0;
	left:0;
}
.mi4-content-feature-d em{
	position:absolute;
	left:50%;
	top:50%;
	margin:-282px 0 0 -582px;
	display:inline;
	overflow:hidden;
}
.mi4-content-feature-d em a{
	width:272px;
	height:319px;
	margin:0 25px 0 0;
	display:inline;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-e em{
	width:356px;
	height:39px;
	position:absolute;
	left:50%;
	top:50%;
	margin:55px 0 0 -562px;
	display:inline;
	overflow:hidden;
}
.mi4-content-feature-e em a{
	width:158px;
	height:39px;
	overflow:hidden;
	float:left;
}
.view_qq{
	margin:0 37px 0 0;
	display:inline;
	background:url(../images/index_05_pic.png) no-repeat;
	background-position:0 0;
}
.view_qq:hover{
	background-position:0 -39px;
}
.view_map{
	background:url(../images/index_05_pic.png) no-repeat;
	background-position:-158px 0;
}
.view_map:hover{
	background-position:-158px -39px;
}
.return_top{
	background:url(../images/nav-btns.png) no-repeat -36px 0 !important;
}
.return_top:hover{
	background:url(../images/nav-btns.png) no-repeat -36px -36px !important;
}
.mi4-content-feature-a dl{
	width:100%;
	height:100px;
	background:url(../images/mainbav.jpg) no-repeat;
	z-index:1;
	position:absolute;
	left:50%;
	margin-left:-50%;
	overflow:hidden;
	float:left;
}
.mi4-content-feature-a dl dd a{
	width:192px;
	height:100px;
	margin:0 121px 0 48px;
	display:inline;
	overflow:hidden;
	float:left;
}
.ahz-head-nav{
	width:1200px;
	height:99px;
	overflow:hidden;
	float:left;
}
.ahz-head-nav a{
	width:239px;
	height:99px;
	margin:0 0 0 1px;
	display:inline;
	overflow:hidden;
	float:left;
}
.ahz-head-nav a:hover{
	background:url(../images/mainbav_hover.png) no-repeat;
}
.ahz-head-leftCon a{
	width:190px;
	height:82px;
	background:url(../images/logo.png) no-repeat;
	overflow:hidden;
	float:left;
}
.ahz-head-rightCon a{
	margin:0 0 0 25px;
}
@media (max-width:1260px){
	.mi4-content-feature .mi4-content-feature-a.turnBlack{ background-image:url('../images/index_01.jpg');}
}
@media (max-width:1705px){
	.nav .bar{height:50px;background-image:url(../images/mainbav_1x.png)}
	.nav .bar.showbar{bottom:-50px}
	.ahz-head .ahz-head-leftCon{ width:151px; height:41px;float:left;padding:0px; margin:5px 0 0 25px;}
	.ahz-head-leftCon a{width:95px;height:41px;background:url(../images/logo_1x.png) no-repeat;}
	.ahz-head-nav{width:605px;height:50px;}
	.ahz-head-nav a{width:120px;height:50px;}
	.ahz-head-nav a:hover{background:url(../images/mainbav_hover.png) no-repeat;}
	.ahz-head .ahz-head-rightCon{height:19px;margin:15px 34px 0 0;}
	.ahz-head-rightCon a{margin:0 0 0 15px;}
}

/*.mi4-content-feature-a dl{z-index:1;position:absolute;left:50%;width:100%;height:100px;margin-left:-50%;background-repeat:no-repeat;background-position:center center;background-image:url('../images/mainbav.jpg');background-image:-webkit-image-set(url('../images/mainbav_1x.jpg') 1x, url('../images/mainbav.jpg') 2x)}*/
