@charset "utf-8";
/* CSS Document */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0; border:none;}
body, html { font-size: 100%; padding: 0; margin: 0;}
body{
	background:#000;
	font-family:微软雅黑;
}
a {
	color: #3d4c51;
	text-decoration: none;
}
em, i {
	font-style:normal;
}
li{
	list-style-type:none;
}

.header{
	width:100%;
	height:99px;
	background:url(../images/mainbav.png) no-repeat;
}
.header em{
	width:311px;
	height:82px;
	margin:9px 0 0 49px;
	overflow:hidden;
	float:left;
}
.header em a{
	width:190px;
	height:82px;
	background:url(../images/logo.png) no-repeat;
	overflow:hidden;
	float:left;
}
.header ul{
	width:1200px;
	height:99px;
	overflow:hidden;
	float:left;
}
.header ul li{
	width:198px;
	margin:0 0 0 1px;
	display:inline;
	font-size:18px;
	line-height:99px;
	text-align:center;
	overflow:hidden;
	float:left;
}
.header ul li a{
	width:198px;
	height:99px;
	color:#FFF;
	overflow:hidden;
	float:left;
}
.header i{
	height:19px;
	margin:43px 34px 0 0;
	float:right;
}
.header i a{
	margin:0 0 0 25px;
}
.footer{
	width:100%;
	overflow:hidden;
	float:left;
}
.footer .footer_a{
	width:1200px;
	height:154px;
	margin:45px auto 0;
}
.footer .footer_a dl{
	width:300px;
	height:154px;
	overflow:hidden;
	float:left;
}
.footer .footer_a dl dd{
	width:300px;
	height:24px;
	font-family:Lao UI;
	color:#FFF;
	line-height:24px;
	overflow:hidden;
	float:left;
}
.footer .footer_a dl dd a{
	color:#FFF;
}
.footer .footer_a dl dd a:hover{
	color:#64afc6;
}
.footer .footer_a dl dt{
	width:300px;
	height:24px;
	font-family:Lao UI;
	color:#999999;
	line-height:24px;
	overflow:hidden;
	float:left;
}
.footer .footer_b{
	width:100%;
	height:37px;
	overflow:hidden;
	margin:38px auto 0;
	border-top:1px solid #3f3f3f;
	line-height:36px;
	text-align:center;
	font-family:微软雅黑;
	font-size:12px;
	color:#FFF;
}

@media (max-width:1705px){
	.header{height:49px;background-image:url(../images/mainbav_1x.png)}
	.header em{ width:151px; height:41px;float:left;padding:0px; margin:5px 0 0 25px;}
	.header em a{width:95px;height:41px;background:url(../images/logo_1x.png) no-repeat;}
	.header ul{width:726px;height:49px;}
	.header ul li{width:120px;font-size:12px;line-height:49px;}
	.header ul li a{width:120px;height:49px;}
	.header i{height:19px;margin:13px 34px 0 0;}
	.header i a{margin:0 0 0 15px;}
}