@charset "utf-8";
/* CSS Document */

.cont_box{
	width:100%;
	float:left;
}
.cont_box img{
	width:100%;
	float:left;
}
.list_1st{
	width:100%;
	position:relative;
	overflow:hidden;
	float:left;
}
.list_1st dl{
	width:100%;
	position:absolute;
	top:40%;
	text-align:center;
	font-family:微软雅黑;
}
.list_1st dl dd{
	font-size:44px;
	line-height:34px;
}
.list_1st dl dt{
	font-size:20px;
}
.list_cont{
	width:100%;
	overflow:hidden;
	float:left;
}
.list_cont dl{
	width:50%;
	overflow:hidden;
	float:left;
}
.list_cont dl dd{
	width:100%;
	position:relative;
	overflow:hidden;
	float:left;
}
.list_cont dl dd em{
	width:100%;
	height:100%;
	background:url(../images/mainbav_hover.png);
	display:none;
	overflow:hidden;
	position:absolute;
}
.list_cont dl dt{
	width:100%;
	padding:9% 0;
	background:#FFF;
	overflow:hidden;
	float:left;
}
.list_cont dl dt h1{
	margin-left:4%;
	font-size:1.25em;
	color:#000;
	font-weight:normal;
}
.list_cont dl dt h2{
	margin-left:4%;
	font-size:3.25em;
	color:#000;
	font-weight:normal;
}
.list_cont dl dt em{
	text-align:center;
	margin-left:4%;
	margin-top:4%;
	background:#000;
	width:12.5%;
	line-height:2em;
	overflow:hidden;
	float:left;
}
.list_cont dl dt em a{
	width:100%;
	height:100%;
	overflow:hidden;
	float:left;
	color:#FFF;
}
.list_cont dl dt em:hover{
	background:#666;
}